title {
  text-align: center;
  font-family: arial, sans-serif;
}

#transportEmission {
  text-align: center;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#transportEmission td,
#transportEmission th {
  border: 1px solid #ddd;
  padding: 8px;
}

#transportEmission tr:nth-child(even) {
  background-color: #f2f2f2;
}

#transportEmission tr:hover {
  background-color: #ddd;
}

#transportEmission th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2b88ca;
  color: white;
}
