.buildings-table {
  border-collapse: collapse;
  width: 100%;
}

.buildings-table td,
.buildings-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.buildings-table tr:nth-child(even),
.buildings-table th {
  background-color: #dddddd;
}
.buildings-baseline {
  padding: 0 20px;
}

label.bb-lbl {
  width: 140.6px;
}

.buildings-buttons{
  margin-left: 50px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.heading {
  text-align: center;
  font-size: medium;
  margin-top: 40px;
  margin-bottom: 20px;
}


.policy-building-button {
  margin-top: 33px;
}