.wrapper {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d5eaea;
}

.module_wrapper {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding:0.2rem;
  display: flex;
  align-items: center;
  position: relative; 
}

.wrapper_branding {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

svg {
  display: inline-block;
  vertical-align: top;
}

.container {
  width: 700px;
  margin: auto;
}

#first {
  width: 350px;
  float: left;
  height: 350px;
}

#second {
  width: 350px;
  float: left;
  height: 350px;
}

#clear {
  clear: both;
}

.containerSmallPie {
  width: 900px;
  margin: auto;
}

#firstSmallPie {
  width: 600px;
  float: left;
  height: 350px;
}

#secondSmallPie {
  width: 300px;
  float: left;
  height: 350px;
}

h1 {
  font-weight: 600;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1;
  margin: 15px 0 6px 4px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.row_header {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.column_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.left {
  width: 14.5%;
  float: left;
  background-color: #BfBfBf;
}

.mid {
  width: 42.5%;
  float: left;
  text-align: center;
  background-color:#ffeac1;
  border:0.2rem solid #ffeac1;
}

.right {
  width: 43%;
  float: left;
}
