section {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding: 48px 10px;
  /* margin: 0 auto; */
  color: #333;
}

section h2 {
  font-weight: 900;
  font-size: 1.5em;
  font-family: sans-serif;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}
.settlement_header_labels {
  display: inline-block;
  width: 300px;
}
.label_settlement_type {
  display: "flex";
  float: left;
}
.label_share {
  display: "flex";
  float: right;
  padding: 20 rem;
}

.settlement_headers {
  display: flex;
}
section label {
  display: inline-block;
  width: 300px;
}
section input,
select {
  padding: 5px 10px;
  padding: 0.375rem 0.75rem;
  font-family: sans-serif;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  z-index: 1;
}

/* .row:after {
  margin-top: 1em;
  content: "";
  display: table;
  clear: both;
} */

.row {
  /* margin-left: 30px; */
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .column {
    width: 50%;
  }
}

/* Chrome, Safari, Edge, Opera hide input number up and down arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox hide input number up and down arrows*/
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
table{
  margin-bottom: 20px;
  width: 48%;
}
table td, th{
  width: 100px;
  text-align: left;
  padding-right: 5px;
}
td.row-title, th.row-title{
  width: 170px;
  text-align: left;
}
input{
  outline: none;
}
input.table-cell, select.table-cell{
  width: 100px;
}
.piechart_container {
  display: flex;
  flex-direction: row;
}
.piechart_diagram {
  width: 40%;
}
.piechart_legend {
  float: left;
  width: 60%;
}

section select {
  border-radius: 0.25rem;
  background: #fff;
  display: inline-block;
  padding: 5px 10px;
  width: 12%;
  box-sizing: border-box;
}

section div {
  margin-bottom: 10px;
}

.barchart_container {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.baseline_barchart {
  width: 100%;
}

.updateButton {
  position: absolute;
  right: 65%;
}

.backButton {
  position: absolute;
  left: 22%;
}

.backStart {
  position: absolute;
  left: 28%;
}

.nextU1Button {
  position: absolute;
  right: 36%;
}

.nextU2Button {
  position: absolute;
  right: 33%;
}

.luc_main {
  padding: 0rem;
  width: 100%;
  margin: 0 auto;
}

.tbl{
  border: 1px solid #333;
  padding: 5px;
  border-radius: 0.25rem;
}

.settle_label {
  font-size: 1 rem;
  align-items: center;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  cursor: default;
}
.countryData {
  font-size: 1em;
  font-weight: 400;
  font-family: sans-serif;
  color: #5e3775;
}

.headerSettlement {
  margin-top: 1.5em;
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
  font-family: sans-serif;
  color: #5e3775;
}

.settlementDiv {
  margin-left: 30px;
}
