.intro_start {
  margin-bottom: 1.9rem;
}

.header_start {
  text-align: left;
  font-size: 1rem;
  padding-top: 0.75rem;
  /* font-weight: 700; */
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}

.intro_select {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.intro_label {
  display: inline-block;
  box-sizing: border-box;
  width: 35%;
  font-size: 1 rem;
  align-items: center;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.5rem;
  cursor: default;
  padding: 0.5rem 0.2rem;
}

@media (min-width: 40%) {
  form {
    margin-top: 0em;
  }
}
.form-group {
  display: block;
  padding: 0.25rem;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
}

.population {
  width: 23% !important;
  line-height: 1.5rem;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.baseline_select {
  width: 23% !important;
  line-height: 1.4rem;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.intro_main {
  width: 35%;
  margin: 0 auto;
}

.next_u1 {
  padding-top: 0.5rem;
  position: absolute;
  left: 1.5rem;
}

.local_dataset {
  padding-top: 0.5rem;
  /*  position: absolute; */
  width: 25%;
}

.row_start {
  display: flex;
}

.column_start {
  flex: 50%;
  margin-left: 1.5rem;
  align-content: flex-start;
}
