*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 2.8rem;
  word-break: break-all;
  
}

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 0.3rem;
  text-align: center;
  font-weight: 500;
  width: 100%;
  word-wrap: break-word;
  cursor: pointer;
  background: #d8d8d8;
  color: #1f3864;
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: 1vw;
}

.tabs:hover{
  background: #bababa;
  color: #1f3864;
}

.tabs:focus{
  background: #003399;
  color: #fff;
}

.active-tabs {
  background: #003399;
  color: #fff;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
 content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 0.2rem;
  
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 5%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 5%;
}
.active-content {
  display: block;
}
#territorial_cateogry {
  margin-left: 50%;
  width: 50%;
}
