.section-transport {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding: 0.5rem;
  margin: 0 auto;
  color: #333;
}

.section-transport h2 {
  font-weight: 900;
  font-size: 1.5em;
  font-family: sans-serif;
  line-height: 1;
  margin: 0 0 0.5rem;
  display: inline-block;
  vertical-align: top;
}
.settlement_header_labels {
  display: inline-block;
  width: 300px;
}
.label_settlement_type {
  display: "flex";
  float: left;
}
.label_share {
  display: "flex";
  float: right;
  padding: 20 rem;
}

.settlement_headers {
  display: flex;
}
.section-transport label {
  display: inline-block;
  width: 15rem;
}
.section-transport input,
.section-transport select {
  width: 90px;
  padding: 0.375rem 0.75rem;
  font-family: sans-serif;
  box-sizing: border-box;
}
.overflow-table{
  overflow-x: auto;
  width: 97%;
}
.column {
  float: left;
  width: 50%;
  z-index: 1;
}

.column2 {
  margin-top: 85px;
  float: left;
  width: 50%;
  z-index: 1;
}

.row:after {
  margin-top: 0.5rem;
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-left: 0.5rem;
}

@media screen and (max-width: 600px) {
  .column {
    width: 50%;
  }
}

/* Chrome, Safari, Edge, Opera hide input number up and down arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox hide input number up and down arrows*/
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  /* width: 30%; */
}

.input_occupancy {
  width: 12% !important;
}

.piechart_container {
  display: flex;
  flex-direction: row;
}
.piechart_diagram {
  width: 40%;
}
.piechart_legend {
  float: left;
  width: 60%;
}

.section-transport .select_transport {
  border-radius: 0.25rem;
  background: var(--color-white);
  display: inline-block;
  padding: 5px 10px;
  width: 12%;
  box-sizing: border-box;
}

.section-transport .div_transport {
  margin-bottom: 10px;
  
}
.section-transport .div_transport2 {
  margin-bottom: 10px;
  width: 50%;
}

.barchart_container {
  margin: 2rem;
}
.baseline_barchart {
  width: 100%;
}

.updateButton {
  position: absolute;
  right: 65%;
}

.backButton {
  position: absolute;
  left: 22%;
}

.backStart {
  position: absolute;
  left: 28%;
}

.nextU1Button {
  position: absolute;
  right: 36%;
}
.share_label:hover + .share_label_info {
  display: block;
  color: red;
}

.nextU2Button {
  position: absolute;
  right: 13%;
}

.nextCBQ {
  position: absolute;
  right: 17rem;
}

.save_piechart {
  position: absolute;
  left: 31%;
}

.settlement_main {
  padding: 0rem;
  width: 50%;
  margin: 0 auto;
}
.settle_label {
  font-size: 1 rem;
  align-items: center;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  cursor: default;
}
.countryData {
  font-size: 1em;
  font-weight: 400;
  font-family: sans-serif;
  color: #5e3775;
}

.headerSettlement {
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
  font-family: sans-serif;
  color: #000000;
}

.settlementDiv {
  margin-left: 16px;
}
.consumptionTableDiv {
  margin-left: 16px;
  width: 100%;
}

.hide {
  display: none;
}

.shareInfo:hover + .hide {
  display: block;
  color: red;
}

.checkbox_cb {
  height: 1.5rem;
  width: 1.5rem;
  color: blue !important;
}

.tableTotalEmissions {
  border: 1px solid black;
  text-align: left;
  padding: 0.2rem;
  font-size: 1vw;
}
.tableHeader {
  color: #3d58a3;
  padding: 0.2rem;
}


.pieChart {
margin-top: 20%;
}

.legend span { 
  border: 1px solid #ccc;
  float: left; width: 12px; 
  height: 12px; 
  margin: 20px; 
  
}

#bus {
  background-color: #e69500;
  color: #e69500;
}

#car {
  background-color: #A6036D;
  color: #A6036D;
}

#metro {
  background-color: #005aff;
  color: #005aff;
}

#tram {
  background-color: #C4D4F2;
  color: #C4D4F2;
}

#train {
  background-color: #D90404;
  color: #D90404;
}

#rail {
  background-color: #80D941;
  color: #80D941;
}

#road {
  background-color: #595959;
  color: #595959;
}

#water {
  background-color: #F2CE1B;
  color: #F2CE1B;
}

.heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: medium;
}

.transport-legend-style {
  text-align: right;
}

#nextU2button {
  margin-top: 40px;
}

.local_energy_elec {
  margin-right: 10px;
}

#electricity_scaler {
  margin-right: 10px;
}