section {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  color: #333;
}

section h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}
.settlement_header_labels {
  display: inline-block;
  width: 300px;
}
.label_settlement_type {
  display: "flex";
  float: left;
}
.label_share {
  display: "flex";
  float: right;
  padding: 20 rem;
}

.settlement_headers {
  display: flex;
}
section label {
  display: inline-block;
  width: 300px;
}
section input,
select {
  padding: 5px 10px;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
}
.settlement_container {
  display: flex;
  flex-direction: row;
  /*  align-items: stretch; */
}
.settlement_input {
  width: 60%;
}
.settlement_chart {
  padding: 0.7rem;
  width: 40%;
  float: left;
}
.piechart_container {
  display: flex;
  flex-direction: row;
}
.piechart_diagram {
  width: 40%;
}
.piechart_legend {
  float: left;
  width: 60%;
}

section select {
  border-radius: 0.25rem;
  background: var(--color-white);
  display: inline-block;
  padding: 5px 10px;
  width: 12%;
  box-sizing: border-box;
}

section div {
  margin-bottom: 10px;
}
