.section_u2planner {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  color: #333;
}

.section_u2planner h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}

.section_u2planner label {
  display: inline-block;
  width: 300px;
}
.section_u2planner input,
select {
  padding: 5px 10px;
  box-sizing: border-box;
}

.section_u2planner select {
  display: inline-block;
  padding: 5px 10px;
  width: 187px;
  box-sizing: border-box;
}

.section_u2planner div {
  margin-bottom: 10px;
}

.backButtonNew {
  position: absolute;
  left: 5%;
}

.nextButtonNew {
  position: absolute;
  right: 13%;
}

.newResidentDiv {
  margin-left: 30px;
}
.nextU3planner{
  position: absolute;
  right: 13%;

}

