.section_u3 {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-left: 0.5rem;
  margin: 0.5rem;
  color: #333;
}
.section-u3 input,
.section-u3 select {
  width: 90px;
}
#inputspace {
  margin-right: 5rem;
  width: 60% !important;
}

#fre_policy_target {
  width: 15% !important;
}

.input_u3_planner {
  margin-right: 5rem;
  width: 60% !important;
}
.input_fuel_shares {
  width: 15% !important;
}

.input_freight_change {
  margin-right: 5rem;
  width: 60% !important;
}

.expectedchange {
  display: flex;
  justify-content: space-between;
}
.affected {
  width: 50%;
}

.nextU3Button {
  position: absolute;
  left: 70%;
}
.label_u3 {
  width: 25%;
}

#electricity_trans_affected_area {
  width: 60%;
}

#pass_policy_target {
  width: 25%;
}
.select_u3 {
  width: 60%;
}

.input_affected_area {
  width: 60% !important;
}

/* 
.input_freight_change{
} */

.column_u3 {
  float: left;
  width: 25%;
  /*  height: 9rem;  */
}

/* Clear floats after the columns */
.row_u3:after {
  content: "";
  display: table;
  clear: both;
}

.div2 {
  width: 50%;
}
