section {
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    padding: 48px 20px;
    margin: 0 auto;
    color: #333;
  }
  
  section h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
    margin: 0 0 4px;
    display: inline-block;
    vertical-align: top;
  }
  
  section label {
    display: inline-block;
    width: 300px;
  }
  section input,
  select {
    padding: 5px 10px;
    box-sizing: border-box;
  }
  
  section select {
    display: inline-block;
    padding: 5px 10px;
    width: 187px;
    box-sizing: border-box;
  }
  
  section div {
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .backButtonNew {
    position: absolute;
    left: 5%;
  }
  
  .nextButtonNew {
    position: absolute;
    right: 30%;
  }
  
  #inputspace {
    margin-right: 110px;
  }
  
  #divspace {
    margin-right: 110px;
  }
  
