.start_button {
  position: absolute;
  left: 2%;
  margin-left: 20%;
}

.row_welcome {
  display: flex;
}

.column_welcome {
  flex: 50%;
  padding: 0.8rem;
  height: 100%;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 1em;
}

.column_welcome2 {
  flex: 50%;
  height: 100%;

  position: relative;
  text-align: center;
}

.section_welcome {
  padding: 1.5em;
}

.youtube {
  padding-bottom: 5%;
  position: absolute;
}

.welcome-paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  color: black;
} 

.link:hover {
  color: gray;
}
